name: documents
services:
    application:
        image: clinictools.dev/documents/app:${VERSION:-8.5.4}
        hostname: application
        restart: unless-stopped
        environment:
            HOST: ${APP_HOST:-application}
            PORT: ${APP_PORT:-8000}
            LICENSE: ${LICENSE:?no license}
            APISECRET: ${APISECRET:?no secret}
            INIT: ${APP_INIT:-1}

            DATABASE_HOST: ${DATABASE_HOST:-database}
            DATABASE_PORT: ${DATABASE_PORT:-5432}
            DATABASE_USER: ${DATABASE_USER:-documents}
            DATABASE_PASSWORD: ${DATABASE_PASSWORD:-documents}

            PDF_HOST: ${PDF_HOST:-pdf}
            PDF_PORT: ${PDF_PORT:-8000}

            SPELLCHECK_HOST: ${SPELLCHECK_HOST:-spellcheck}
            SPELLCHECK_PORT: ${SPELLCHECK_PORT:-8000}
        ports:
            - ${PORT:-80}:${APP_PORT:-8000}
        volumes:
            - ${APP_PATH:-C:/data/app}:C:/data
        healthcheck:
            test: ["CMD", "node ./health.mjs"]
            interval: 10s
            timeout: 5s
            retries: 1
    database:
        image: clinictools.dev/documents/database:${VERSION:-8.5.4}
        hostname: database
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${DATABASE_USER:-documents}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-documents}
        volumes:
            - ${DATABASE_PATH:-C:/data/database}:C:/data
        healthcheck:
            test: ["CMD", "pg_isready -U documents"]
            interval: 10s
            timeout: 5s
            retries: 1
    pdf:
        image: clinictools.dev/documents/pdf:${VERSION:-8.5.4}
        hostname: pdf
        restart: unless-stopped
        environment:
            PORT: ${PDF_PORT:-8000}
        volumes:
            - ${FONTS_PATH:-C:/data/app/fonts}:C:/fonts
        healthcheck:
            test: ["CMD", "node ./health.mjs"]
            interval: 10s
            timeout: 5s
            retries: 1
    spellcheck:
        image: clinictools.dev/documents/spellcheck:${VERSION:-8.5.4}
        hostname: spellcheck
        restart: unless-stopped
        environment:
            PORT: ${SPELLCHECK_PORT:-8000}
        healthcheck:
            test: ["CMD", "curl.exe", "-fsS", "-X", "POST", "-H", "Content-Type: application/json", "-d", "{\"language\":\"de-DE\",\"text\":[\"ping\"]}", "http://localhost:${SPELLCHECK_PORT:-8000}/check"]
            interval: 10s
            timeout: 5s
            retries: 1
